:root {
    --primery-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
    --header-color: #ffffff;
    --hover-color: #404BBF;

}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #ffffff;
    color: #2E2F42;

}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*---------- HEADER ---------- */

.header-logo {
    font-family: 'Raleway'; sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.accent {
    color: var(--primery-text-color);
}

.header .link.current {
    color: var(--accent-color);
}
.header-item > .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.address {
    font-style: normal
    color: var(--title-text-color);
}

.header-mail .link
.header-tel .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--hover-color);
}

/*---------- HERO ---------- */

.hero {
background-color: rgb(74, 75, 131);
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: var(--hover-color);
    color: var(--header-color);
}

/*---------- About us ---------- */

.studio-title,
.portfolio-title {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.stidio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.studio-link {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    flex: none;
    order: 1;
    flex-grow: 0;
}