:root {
    --primery-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
    --header-color: #ffffff;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #2E2F42;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {

}

.header-logo {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.header-studio {
    color: var(--primery-text-color);
}

.header .link.current {
    color: var(--accent-color);
}
.header-item > .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.header-mail 
.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.hero {

}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--header-color);    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.studio-title {
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.stidio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.studio-link {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    flex: none;
    order: 1;
    flex-grow: 0;
}